@use 'variables' as v;
@use 'buttons' as b;

@mixin messageMeta() {
  font-size: 0.95rem;
  padding-right: 2px;
  margin-bottom: 4px;
}

@mixin messageStyle($bg-color, $text-color) {
  font-weight: normal;
  color: $text-color;
  margin: 0;
  background-color: $bg-color;
  padding: 10px 15px;
  border-radius: 15px;
  max-width: 80%;
}

.chat-container {
  width: 100%;
  max-width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  border: 2px solid v.$primary-color;
  border-radius: v.$border-radius;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.chat-box {
  width: 100%;
  margin: 10px 6px;
  padding: 2px;
  flex: 1;
  overflow-y: auto;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.chat-box li {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
  max-width: 45%;
  border-radius: 5px;
  padding: 10px;
}

.my-message {
  align-self: flex-end;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;

  span {
    @include messageMeta();
    padding-right: 2px;
  }

  p {
    @include messageStyle(v.$primary-color, white);
  }
}

.opponent-message {
  align-self: flex-start;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;

  span {
    @include messageMeta();
  }

  p {
    @include messageStyle(#ccc, v.$text-color);
  }
}

.chat-input {
  display: flex;
  height: 10%;
  border-top: 2px solid v.$primary-color;

  input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    background-color: inherit;
  }

  button {
    @include b.button-styles;
    flex-basis: 20%;
    border-radius: 0;
  }
}

.exit-button {
  @include b.button-styles;
  margin-top: 10px;
  width: 100%;
  max-width: 406px;
  border-radius: v.$border-radius;
}
