@use 'variables' as v;

.chat-container {
  width: 100%;
  max-width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  border: 2px solid v.$primary-color;
  border-radius: v.$border-radius;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.chat-box {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background-color: #f8f9fa;
}

.chat-box p {
  padding: 8px;
  color: v.$text-color;
  border-radius: 5px;
  margin-bottom: 5px;
  width: 300px;
}

.chat-input {
  display: flex;
  border-top: 2px solid v.$primary-color;

  input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
  }

  button {
    flex-basis: 20%;
    padding: 10px 15px;
    background: v.$primary-color;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0;
  }
}
