@use 'variables' as v;

body {
  margin: 0;
}

.container {
  font-family: v.$font-family;
  background-color: v.$bg-color;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
}

h1 {
  font-size: 2.5rem;
  color: v.$primary-color;
  margin-bottom: 20px;
}

p {
  font-size: 1rem;
  color: v.$text-color;
  font-weight: 900;
  text-align: center;
}
